@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-white text-gray-900 duration-300;
  }

  .dark body {
    @apply bg-gray-900 text-gray-50 duration-300;
  }
}

html {
  scroll-behavior: smooth;
}

/* Base Utility for hiding scrollbar while maintaining scroll functionality */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}